body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica,:Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  overflow: scroll;
}

@media (min-width: 1280px) {
  main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

input {
  color: inherit;
  font: inherit;
  margin:0
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 15px;
}

a {
  color: #253166;
  text-decoration:none
}

a:hover {
  text-decoration:underline
}

a.highlighted {
  background-color: #ddd;
  text-decoration: underline;
}

#controls-container h4,
#output-pane h4,
input[type="button"],
.field,
label {
  display: inline-block;
  margin-right: 20px;
}

#playground-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5rem;
}

#input-pane {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  max-height: 100vh;
  padding-right: 1em;
}

#query-checkbox,
#logging-checkbox {
  height: 15px;
}

#output-pane {
  padding-left: 1em;
}

#code-container + .CodeMirror {
  max-height: 60%;
}

#query-container + .CodeMirror {
  max-height: 40%;
  margin-bottom: 3rem;
}

#output-container {
  margin: 0;
}

#output-container div {
  color: #d07c03;
}

#output-container-scroll {
  padding: 0;
  position: relative;
  margin-top: 0;
  overflow: auto;
  min-height: 100vh;
  max-height: 100vh;
  border: 1px solid #aaa;
  background-color: #f8f8f8;
}

.CodeMirror {
  height: auto;
  max-height: 100vh;
  border: 1px solid #aaa;
  font-size: 14px;
}

.CodeMirror-scroll {
  height: auto;
  max-height: 100vh;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 3px solid red;
}

.query-error {
  text-decoration: underline red dashed;
  -webkit-text-decoration: underline red dashed;
}
